# BEGIN WordPress
# Dyrektywy zawarte między "BEGIN WordPress" oraz "END WordPress"
# są generowane dynamicznie i powinny być modyfikowane tylko za pomocą
# filtrów WordPressa. Zmiany dokonane bezpośrednio tutaj będą nadpisywane.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Backup Migration START
  <IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule .* - [E=noabort:1]
    RewriteRule .* - [E=noconntimeout:1]

  </IfModule>
  <IfModule mod_env>

    SetEnv noabort 1

  </IfModule>
# Backup Migration END

# BEGIN Simply Static
# Dyrektywy zawarte między "BEGIN Simply Static" oraz "END Simply Static"
# są generowane dynamicznie i powinny być modyfikowane tylko za pomocą
# filtrów WordPressa. Zmiany dokonane bezpośrednio tutaj będą nadpisywane.
<Files "C:\laragon\www\Liczba-PI/wp-content/uploads\simply-static\44a86bb8a85e59cf0a73cdeb76f412a1-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static